{% extends '/admin/base.html' %} {% block head %}
<title>Admin Home</title>
<style>
  .card {
    display: inline-block !important;
  }

  .right {
    float: right;
    color: black;
  }

  .left {
    float: left !important;
    color: black !important;
    padding: 50px !important;
    width: 1150px !important;
    height: 900px !important;
  }
</style>
{% endblock %} {% block body %}
<div>
  <div class="left">
    <br />
    <h1>
      <b>Welcome to MyClassRoom. </b>
    </h1>
    <h4>Best College</h4>
    <div class="right">
      <img
        src="https://res.cloudinary.com/cognitives-s3/image/upload/c_limit,dpr_auto,f_auto,fl_lossy,h_1900,q_auto,w_1900/v1/cog-live/n/1271/2020/Apr/24/FCVytWEA7fmVUSEQThCe.jpg"
        alt="https://res.cloudinary.com/cognitives-s3/image/upload/c_limit,dpr_auto,f_auto,fl_lossy,h_1900,q_auto,w_1900/v1/cog-live/n/1271/2020/Apr/24/FCVytWEA7fmVUSEQThCe.jpg"
        class="img"
      />
    </div>
  </div>
</div>
{% endblock %}
